# Outline every pane in a 1px baby pink border           
set -g pane-border-lines "double"
set -g pane-active-border-style "fg=#FFCFBF, bg=#090909"
set -g pane-border-style "fg=#FFF9F9, bg=#090909"

set -g status-style "bg=#EFC9B1,fg=black, bold"
                                   
# Customize the status bar content (optional)          
set -g status-left-length 40
set -g status-right-length 150                                                                                                              
set -g status-interval 5                                                                                                                    
                                   
set -g status-left " #[fg=black] #S "         # Shows session name                                                                           
set -g status-right "#[fg=black] %H:%M "  # Shows date and time

#set-window-option -g window-style "bg=colour235"
set-window-option -g window-active-style "bg=#111010"

bind Left resize-pane -L 2
bind Right resize-pane -R 2
bind Up resize-pane -U 1
bind Down resize-pane -D 1

bind h select-pane -L
bind l select-pane -R
bind j select-pane -D
bind k select-pane -U
